<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="sR-7997HGVavOcKrQYL6YS6u7XReaCQcx55m_yTmSAM" />
    <title>jQuery Examples</title>
    @*<link href="~/content/bundle.min.css" rel="stylesheet" />*@
    <link href="@Fingerprint.Tag("/content/bundle.min.css")" rel="stylesheet" />
   
</head>
<body>
    <div>
        @RenderBody()
        @Html.Kendo().TreeView().Name("tvJQueryExamples").Items(items =>
   { items.Add().Text("Selection").Url("\\"); }
   ).Deferred()
        <footer>
            <p>&copy; @DateTime.Now.Year jQuery Examples</p>
        </footer>
    </div>
    @*<script src="~/scripts/bundle.min.js"></script>*@
    <script src="@Fingerprint.Tag("/scripts/bundle.js")"></script>
    @Html.Kendo().DeferredScripts()
    @RenderSection("scripts", required: false)
</body>
</html>
